body{
    background: url('../img/blue2.jpg');
    background-attachment: fixed;
}

#logo{
    background:#60a3bc;
}

.navigation ul li:hover{
    background:#60a3bc;
}


.buttom-more{
    background:#60a3bc;
}

.buttom-more:hover{
    background:#82ccdd;
}

.logout{
    background:#60a3bc;
}

.logout:hover{
    background:#82ccdd;
}

.watch{
    border:5px dashed #60a3bc;
}

.watch:hover{
    border:5px dashed #82ccdd;
}