body{
    background: linear-gradient(to right, #2193b0, #6dd5ed);
    background-attachment: fixed;
}

.buttom-more,
.submitBtn,
.logout
{
    background: #6dd5ed;
}

.up{
    background: #2193b0;
}
.up:hover{
    background: #6dd5ed;
}

.buttom-more:hover,
.submitBtn:hover,
.logout:hover{
    background:#2193b0;
}

#logo{
    background:#6dd5ed;
}

.navigation ul li:hover{
    background:#2193b0;
}

.watch{
    border:5px dashed #6dd5ed;
}

.watch:hover{
    border:5px dashed #2193b0;
}
